<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoSpecification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoSpecification.Properties.Settings>
            <setting name="InventorLibraryPath" serializeAs="String">
                <value>m:\KB\Библиотека компонентов INVENTOR 2016\</value>
            </setting>
            <setting name="InventorAlbumPath" serializeAs="String">
                <value>m:\KB\Альбом конструктивных решений INVENTOR\</value>
            </setting>
            <setting name="Author" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckedBy" serializeAs="String">
                <value>1111</value>
            </setting>
        </AutoSpecification.Properties.Settings>
    </userSettings>
</configuration>